#page-wrapper {
  padding: 20px;
}

.all-handle-bar {
  margin-bottom: 30px;
}

.add-btn{
  float: right;
}

.handle-input{
  width: 500px;
  float: left;
}

.product-wrapper {
  position: relative;
  border: 1px solid #aaa;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px #888888;
}

.product-demo {
  display: none;
}

.product-wrapper .product-title {
  padding: 15px 25px;
  background: #f1f1f1;
  overflow: hidden;
}

.product-wrapper .product-title .btn-group {
  float: right;
}

.product-wrapper .product-title h2 {
  line-height: 33px;
  margin: 0;
  width: 550px;
  float: left;
  font-size: 20px;
  color: #3669b3;
  background: #f1f1f1;
}

.product-wrapper .product-title img {
  position: absolute;
  right: 0px;
  top: 0px;
}

.product-wrapper .product-content {
  padding: 15px 25px;
}

.product-wrapper .product-content .content-item .item-title{
  width: 25%;
  padding-right: 5%;
  float: left;
  text-align: right;
  font-weight: 900;
  color: #ff7f00;
}

.product-wrapper .product-content .content-item .item-content{
  width: 70%;
  float: left;
}

.editor-form .input-group {
  margin-bottom: 10px;
}

.input-group select{
  height: 34px;
}
.product-kinds {
  margin: 30px 0;
}

.product-kinds .btn-group{
  margin-left: 10px;
}

.product-kinds .btn{
  margin-right: 10px;
  background: #ccc;
  color: #fff;
}

.product-kinds .on{
  background: #478BCA;
}