<%inherit file="/base.html" />

<%def name="main()">
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">SA-ENGINE</h1>
    </div>
  </div>
  <div class="jumbotron">
    <h2>Welcome！</h2>
    <p>SA-ENGINE is admin web based on fab files.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Github</a></p>
  </div>
</div>
</%def>

<%def name="title()">Dashboard</%def>

<%def name="css()">
.jumbotron {padding: 10px}
.list-group {margin-bottom: 30px}
</%def>
